@import "normalize.css";
@import "variables.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

input {
  display: block;
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}


.rbc-timeslot-group {
  min-height: 88px!important;
}

.dr-slot-wrapper {
  position: relative;
  z-index: 100;
}

.rbc-time-slot {
  height: 22px;
  border-top: none;
}

.dr-slot-wrapper .dr-slot-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  font-size: 12px;
  font-weight: 600;
  height: 22px;
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  white-space: nowrap;
  pointer-events: none;
}

.rbc-time-gutter .dr-slot-wrapper .dr-slot-tooltip {
  display: none;
}

.rbc-label {
  font-size: 12px;
}

.rbc-events-container div {
  z-index: 100;
}

.rbc-event {
  left: 0!important;
  width: 100% !important;
}

.rbc-allday-cell {
  display: none;
}


