.link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #171717;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;

    span {
        white-space: nowrap;
    }
}

.link:hover {
    background-color: #cfdbe7;
    color: #1C274C;
}

.active {
    background-color: #cfdbe7;
    color: #1C274C;
}